<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>My First Dashboard</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="text-align: center;">
  <h1 style="text-align:center;margin-top:2rem;margin-bottom:2rem;">Stock Graph</h1>

  <form style="" action="#" method="post">
    <p><input style="width:15rem;height: 2em;" type="text" name = "get_name"></p>
    <p><input style="width:15rem;height: 2em;" class="btn btn-primary" type="submit" value="GET"></p>
  </form>


</body>
</html>
